*{
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
div{
    margin: 0;
    padding: 0;
    top: 0;
    left:0 ;
}
body{
    font-family: 'Inter', sans-serif;
}
ul{
    list-style: none;

}

a{
    text-decoration: none;
}

/* navbar styles */
.desktopnavbar{
    display: none;
}
nav{
    background: transparent;
}
.offcanvas-body{
    padding: 3rem;
}
.nav-link{
    color: hsl(240, 100%, 5%);
}
/* secton styles */
.sectionimage{
    max-width: 100%;
}
.desktopimage{
    display: none;
}
.sectionhead{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1;
    margin: 1.5rem 0;
    color: hsl(240, 100%, 5%);
}


.sectionparagraph{
    font-size: 0.9rem;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);

}
.readmorebutton{
margin: 2rem 0;
}
.readmore{
    padding: .9rem 2.2rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
}
.newsection{
    background-color: hsl(240, 100%, 5%);
    color: #fff;
    padding: 1.5rem;
}
.newsectionhead{
    color: hsl(5, 85%, 63%);
    margin-bottom: 1rem;
}
.newsection1, .newsection2, .newsection3{
    border-bottom: 1px solid #fff;
    margin-bottom: 1.5rem;
}
.newsection1 h2, .newsection2 h2, .newsection3 h2{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    cursor: pointer;
    
}
.newsection h2:active{
    color: hsl(5, 85%, 63%);
}
.newsection1 p, .newsection2 p, .newsection3 p{
    margin-bottom: 1.6rem;
    color: hsl(36, 100%, 99%);
    font-size: 0.9rem;
}
.secondsection{
    margin: 5rem 0;
}
.revivingretropc , .toptenlaptops, .growthofgaming{
    display: flex;
    gap: 1rem;
    margin-bottom:2rem ;
    align-items: center;
}
.revingimage img , .laptopsimage img, .gamegrowthimage img {
    max-width: 100px;
}

.revingsubtext h2, .laptopssubtext h2, .gamegrowthsubtext h2{
    color: hsl(240, 100%, 5%);
    font-size: 1rem;
    padding: 1rem 0;
}
span{
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 1.5rem;
}

/* section styles */




/* section style  */


/* media queries for desktop 1440px */
@media(min-width:1100px){
    .navbar-toggler{
        display: none;
    }
    .desktopnavbar{
        display: flex;
    }
    .desktopnavbar ul{
        display: flex;
        gap: 1rem;
    }
    .container{
        max-width: 75%;
    }
    .sectionimage{
        display: none;
    }
    .desktopimage{
        display: block;
        max-width: 100%;
    }
   .icon-menu{
    display: none;
   }

   .navbar{
    display: flex;
   }
   .navbar ul{
    display: flex;
    flex-direction: row;
   }
   
   ul li a{
    color: hsl(236, 13%, 42%);
   }
   .subsection{
    display: flex;
    height: 100%;
    gap: 2rem;
   }
   .sectionn{
    display: flex;
    align-items:center;
    margin-top: 2rem;
    gap: 2rem;
   }
   .secondsection{
    display: flex;
    gap: 3rem;
   }
    
    
}